<footer>

    <div class="row">
      <div id="rodape">
        <div class="col-md-2 col-md-offset-1">
        <p class="text-left"><link> <a href="quemsomos.html">Quem somos?</a></link></p>
        <p class="text-left"><link> <a href="#servicos">Serviços</a></link></p>
        <p class="text-left"><link> <a href="#regulamentos">Regulamentos</a></link></p>
        </div>           
        <div class="col-md-2 col-md-offset-1">
        <p class="text-left"><link> <a href="#suporte">Suporte</a></link></p>
        <p class="text-left"><link> <a href="#perguntas">Perguntas Frequentes</a></link></p>
        <p class="text-left"><link> <a href="#sugestoes">Sugestões</a></link></p>
        </div>
        <figure>
          <h2> <img id="master" src="../imagens/bandeiras_cartoes.png"></h2>
      </figure>
    </div>
    </div>
  </footer>      
  <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
  <script src="js/bootstrap.min.js"></script>
</form>
</body>
</html>
</body>
</html>